/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 9%;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 35px;
  margin-right: 35px;
}
/**Top Left Button**/
.topleft {
  position: absolute;
  top: 35px;
  left: 16px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 40px;
  left: 12px;
}

.tit {
  font-family: "Times New Roman ";
  font-size: 40px;
}

.para {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.sign {
  text-align: center;
  align-items: center;
}
.wel {
  text-align: center;
}

.buttons {
  align-items: center;
}
/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
  text-align: center;
}

img {
  height: 100%;
}

.inputiteam {
  margin-bottom: 20px;
}

.log {
  padding-left: 10px;
  padding-right: 100px;
}

.input-wrapperPassword {
  position: relative;
}

.input-wrapperPassword:before {
  content: "\f023";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #459ce7;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  right: 0;
}
.input-wrapperPassword {
  position: relative;
}

.input-wrapperPassword:before {
  content: "\f023";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #010e06;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  right: 0;
}
.input-wrapperName {
  position: relative;
}

.input-wrapperName:before {
  content: "\f007";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #010e06;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  right: 0;
}

.feedback {
  text-align: left;
  color: red;
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
  .split {
    width: auto;
  }
}
