<h4 class="card-header">Forgot Password</h4>
<br />
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Username</label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && formData.userName.errors }"
        />
        <div
          *ngIf="submitted && formData.userName.errors"
          class="invalid-feedback"
        >
          <div *ngIf="formData.userName.errors.required">
            Username is required
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <label for="password"> New Password</label>
        <input
          type="password"
          formControlName="newpassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && formData.newpassword.errors }"
        />
        <div
          *ngIf="submitted && formData.newpassword.errors"
          class="invalid-feedback"
        >
          <div *ngIf="formData.newpassword.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="submitted">
          Change Password
        </button>
      </div>
      <div *ngIf="message" class="alert alert-success">{{ message }}</div>
    </form>
  </div>
</div>
